/* Reset Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography Section */
body {
  font-family: "Bodoni Moda", serif;
  line-height: 1.6;
  color: #222;
  background-color: #f9f9f9;
  background-image: url("background-pattern.png");
  background-repeat: repeat;
}

main {
  padding-bottom: 80px;
}

h1.title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 700;
  margin: 20px 0 20px 0;
  color: #333 !important;

}

h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  word-spacing: 4px;
  margin: 15px 0;
  color: #555;
}

.intro {
  text-align: center;
  font-size: 18px;
  margin: 20px;
}

.highlight.bold {
  color: rgb(216, 112, 147); /* rgc teal */
  font-weight: 600;
}

/* Navigation Bar */
nav {
  text-align: center;
  margin: 15px 0;
}

nav a {
  margin: 0 10px;
  color: palevioletred; /*named color*/
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ba55d3; /*hex color*/
}

nav a:visited {
  color: goldenrod;
}
nav a:active {
  color: #880759; /*hex color*/
}

/* Quote Section */
.quote {
  background-color: hsl(336, 65%, 66%); /*hsl color*/
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  border-radius: 6px;
  opacity: 0.8;
  font-style: italic;
  color: rgb(23, 22, 22);
}

/* Gallery Section */
.gallery {
  display: block;
  text-align: center;
  margin: 20px auto;
  min-width: 300px;
  max-width: 1000px;
  position: relative; /* keeps absolute inside */
}

.gallery figcaption {
  font-size: 14px;
  margin-top: 8px;
  font-style: italic;
  text-align: center;
}

/* Positioning Example */
.artwork.static {
  position: static;
}
.artwork.relative {
  position: relative;
  top: 10px;
  left: -100px;
}
.artwork.absolute {
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 2;
}
.artwork.sticky {
  position: sticky;
  top: 200px;
  z-index: 1;
}

/* Iframe (Photo 5) */
.iframe-box {
  display: block;
  text-align: center;
  margin: 20px auto;
  height: 280px;
  width: 420px;
}

.art-iframe {
  width: 420px;
  height: 280px;
  border: 3px solid #333;
  border-radius: 8px;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background: #e3d7d7;
  margin-top: 40px;
  border-top: 2px solid #ccc;
}

/* Fixed Footer */
.fixed_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(34, 34, 34, 0.9);
  color: white;
  text-align: center;
  padding: 10px;
}

/* Floating box centered */
.floating-box {
  float: left;
  width: 240px;
  background-color: rgba(216, 112, 147, 0.8);
  color: rgb(24, 22, 22);
  padding: 10px;
  margin: 20px auto;
  border-radius: 6px;
  text-align: center;
  display: block;
  float: none;
}

/* Clear box centered */
.clear-box {
  clear: both;
  width: 240px;
  background-color: hsla(327, 60%, 62%, 0.8);
  padding: 10px;
  margin: 20px auto;
  border-radius: 6px;
  text-align: center;
  max-width: 600px;
}

/* Artwork images */
.art-img {
  width: 200px;
  height: auto;
  border: 3px solid #333;
  border-radius: 8px;
  margin: 10px;
}

/* Attribute Selector */
img[alt*="Sinis"] {
  border: 3px solid orchid;
}

/* Visibility */
.hidden-photo {
  visibility: hidden;
}

/* Z-index inlineblock stack with shadows */
.z-stack-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.z-box {
  display: inline-block;
  margin-left: -35px; /* ovelap */
  position: relative;
  text-align: center; /* center caption */
}
.z-box:first-child {
  margin-left: 0;
}

.z-n1 {
  z-index: -1;
}
.z0 {
  z-index: 0;
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}

.z-box img {
  width: 200px;
  border: 3px solid #333;
  border-radius: 8px;
  display: block;
  margin-top: 125px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); /* shadow effect */
  transition: transform 0.3s ease;
}
.z-box img:hover {
  transform: scale(3); /* zoom effect on hover */
}

/* Caption under image, centered */
.zbox figcaption {
  margin-top: 8px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
/* Comments Section:
  1. Typography and layout styles
  2. Positioning styles (static, relative, absolute, sticky)
  3. Z-index stacking styles
  4. Float, clear, visibility and attribute selectos
  5. Color formats: named, hex, rgb, rgba, hsl, hsla
  6. This is an educational project for laurea UAS.
  7. I hold all rights to the pictures in this gallery, as they were taken by me.