/* ========== 1. Reset Defaults ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========== 2. Selectors ========== */

/*--2.1 Type Selectors--*/

/* Heading */
h1 {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 2em;
  color: darkblue;
}

/* Aside */
aside {
  text-align: center;
  margin: 20px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(32, 56, 210);
}

/* Heading */
h2 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  color: #093663;
  font-weight: bold;
}

/* Form */
form {
  background-color: #dee7ea97;
  border: 2px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
}

/* Paragraph */
p {
  font-size: 14px;
  margin: 20px;
}

/* Navigation links */
nav {
  text-align: center;
  margin: 15px 0;
  font-size: 17px;
}

/* Footer */
footer {
  text-align: center;
  margin: 20px 0;
  font-size: 12px;
  color: #0e0d0d;
}

/*--2.2 Class Selectors--*/

.form-section {
  background-color: #f9f9f9;
  padding: 15px;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 80%;
}

/* --2.3 ID Selectors--*/

#main-title {
  color: #093663;
  margin-bottom: 20px;
  font-family: Arial;
}

/* --2.4 Multiple Selectors --*/

.green.bold {
  color: rgb(120, 208, 96);
  font-weight: bold;
  margin-top: 30px;
}
/*--2.5 Attributes Selectors --*/
input[type="text"] {
  border: 3px solid #ccc;
  margin: 1px 5px 1px 5px; /*margin shorthand */
  padding: 5px 10px 5px 10px; /*padding shorthand */
  border-radius: 5px;
}

input[type="password"] {
  border: 3px solid #ccc;
  margin: 1px 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

input[type="number"] {
  border: 3px solid #ccc;
  margin: 1px 5px; /*margin shorthand */
  padding: 5px 10px; /*padding shorthand */
  border-radius: 5px;
}

input[list="cities"] {
  border: 3px solid #ccc;
  margin: 1px 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

img[src*="img1.png"] {
  border: 5px dotted #3f9db7;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  margin-top: 40px;
}

/* --2.6 Descendant Combinators -- */

section .checklist {
  list-style-type: square;
  background-color: #8bdcf197;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}
.checklist li {
  margin-left: 20px;
  color: #262525;
  padding: 5px 0;
}

.form-section label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
/* -- Multiple Selectors -- */

h1,
h2,
.menu {
  color: #2f3030;
  font-family: "Verdana", sans-serif;
}

/* --2.8 Chaining -- */
h1.title {
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* --2.9 Pseudo-class -- */

.logo:hover {
  opacity: 0.8;
  transform: scale(1.4);
  transition: all 0.3s ease;
}

.logo:active {
  transform: scale(10%); /*shrink when clicking*/
}

.video:visited {
  color: orangered;
}

input:focus {
  border-color: #4a90e2;
  outline: none;
  background-color: #eef6ff;
}

input:disabled {
  background-color: #eee;
  color: #999;
}

/*========= 3. VISUAL RULES ==========*/

BODY {
  background-color: #fafafa;
  color: #333;
  opacity: 0.95;
  background-image: none !important;
  background-image: url("https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg");
}

/* ========= THE BOX MODEL ========== */

textarea {
  width: 100%;
  min-width: 100px;
  min-height: 120px;
  max-height: 300px;
  padding: 10px;
  border: 3px solid #ddd;
  border-radius: 5px;
  overflow: auto;
}

quote {
  /*Margin*/
  margin-top: 20px;
  margin-right: 200px;
  margin-bottom: 20px;
  margin-left: 200px;
  /*Padding*/
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  margin: 20px;
}

/*Visibility*/
.hidden-logo {
  visibility: hidden;
}

/*"Submit Application" button. Styling without hover*/
input[type="submit"] {
  background-color: #4a90e2;
  color: white;
  border: 1px solid #357abd;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* "Submit Application" button. Styling with hover*/
input[type="submit"]:hover {
  background-color: lightcoral;
  transform: scale(1.2);
  transition: all 0.3s ease;
}
